html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 10px 40px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo img{
    width: 15%;
    height: 15%;

}
